*{
    margin: 0;
}

body{

    background-color: #FFFFFF;
}
  

.header_title {
    color: rgb(123, 166, 206);
    text-align: center;
}


/***===Header====***/
.navHead{
    display: flex;
    height: 68px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.navHead div{
    position: relative;
    background-color: #FDF6ED;
    height: 100%;
    width: 100%;
    padding: 10px;
}

/*==(centerBOx)==*/
.navHead .box{
    background-color: #E69A41;
    display: flex;
}
.box .outline{
    display: flex;
    background-color: #E69A41;
    border: 2px solid #FDF6ED;
    height: 60%;
    width: 95%;
    top: 5px;
    justify-content: center;
}

h4{
    position: absolute;
    color: #FDF6ED;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    bottom: .1px; 
}
/*==(centerBOx - end)==*/

/*===(Right-box)===*/
.white_box{
    display: flex;
    justify-content: center;
}

.headerLogo{
    position: relative;
    top: 10px;
}

.white_box .call{
    position: relative;
    color: black;
    font-size: 16px;
    top: 10px;
    font-weight: lighter;
    font-family: 'Oswald';
    
}
.white_box .num{
    position: relative;
    color: black;
    top: 30px;
    right: 58px;
    font-weight: lighter;
    font-family: 'Oswald';
    font-size: 16px;
    
}

.white_box .num:hover{
    color: #E69A41;
    
}
/*===(Right-box-end)===*/

/*===(Left-box)===*/
.email_logo{
    position: absolute;
    left: 159px;
    top: 20px;
}

.mail{
    position: absolute;
    top: 25px;
    left: 210px;
    font-weight: lighter;
    font-family: 'Oswald';
    font-size: 16px;
}

.email{
    position: absolute;
    top: 45px;
    font-weight: lighter;
    font-family: 'Oswald';
    font-size: 16px;
    right: 185px;
    font-size: 11px;
}

.email:hover {
    color: #E69A41;
}

/*===(Left-box-end)===*/

.temp-UI {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
    
}

.temp-UI .temp-UI-inner {
    display: flex;
    outline: auto;
    height: 40vh;
    width: 80vh;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}

.temp-UI .header {
    position:relative;
    left: 20px;
    top: 20px;
    height: 0;
    outline: auto;
}

.body {
    position: relative;
    display: flex;
    margin-top: 70px;
    margin-left: 20px;
    height: 190px;
    width: 72vh;
    padding: 10px;
    
}

.body h3{
    position: relative;
    left: 30px;
    top: 15px;
}

.body img{
 border: 1px solid;
}

.body-info button {
    position: relative;
    top: 11vh;
    left: 35vh;
}

.username-text{
    font-family: 'Oswald';
    font-weight: 100;
    color: #E69A41;
}

.body-info h3{
    font-family: 'poppins';
}